<div class="page-header">
  <h1>LISTINGS<small>//See what are available</small></h1>
</div>

<div class="container">
  <% @feedentries.each do |entry| %>
  <% if entry.image_craigslist.present? %>
<div class="media">
  <div class="media-left media-middle">
    <a href="<%= entry.url %>">
      <%= image_tag entry.image_craigslist.url(:thumb) %>
    </a>
  </div>
  <div class="media-body">
    <h3 class="media-heading"><%= entry.title.truncate(70) %></h3>
      <p id="feedfont">
        <%= entry.description.truncate(300) %>
      </p>
  </div>
  <hr>
</div>
  <% end %>
  <% end %>
</div>
