<div class="page-header">
  <h1>LISTINGS<small>//See what are available</small></h1>
</div>

<div class="container">
  <% @feedentries.each do |entry| %>
<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="..." alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= entry.title.truncate(50) %></h4>
      <p>
        <%= entry.description.truncate(250) %>
      </p>
  </div>
</div>
  <% end %>
</div>
