<!-- Nav Panes -->
<ul class="nav nav-tabs">
  <!-- thumb nail  -->
  <li class="active">
    <a href="/listings">Our Listings</a>
  </li>
  <li><a href="/feed_entries">CRAIGSLIST</a></li>
  <p id="notice"><%= notice %></p>
</ul>
