<!-- Nav Panes -->
  <p id="notice"><%= notice %></p>
<ul class="nav nav-tabs">
  <!-- thumb nail  -->
  <li>
    <a href="/listings">Our Listings</a>
  </li>
  <li><a href="/feed_entries">Other Sources w/ Thumbnail</a></li>
  <li><a href="/feed_no_pics">Other Sources</a></li>
</ul>
