<div class="container sign-in animated fadeIn">
  <div class="panel sign-in">
    <div class="panel-heading sign-in">
      Sign<i class="fa fa-home">In</i>
    </div>
    <div class="panel-body sign-up">
      <%= render 'form' %>
    </div>
  </div>
</div>
