<div class="col-md-6 container list animated fadeIn">
  <div class="panel list">
    <div class="panel-heading list">
      <i class="fa fa-list"></i> List a Property
    </div>
    <div class="panel-body list">
      <%= render 'form' %>
    </div>
  </div>
</div>

<div class="col-md-6 container list_display">
  <div class="panel list_display">
    <div class="panel-heading list_display">
      Your Current Listings <i class="fa fa-book"></i>
    </div>
    <div class="panel-body list_display">
          <% @listings.each do |listing| %>
            <%= render "/listings/current_listing", listing: listing %>
            <hr>
          <% end %>

    </div>
  </div>
</div>
