<div class="container sign-up">
  <div class="panel sign-up">
    <div class="panel-heading sign-up">
        Sign<i class="fa fa-home">Up</i>
    </div>
    <div class="panel-body sign-up">
      <%= render 'form' %>
    </div>
  </div>
</div>
