<div class="container animated fadeIn">
<div class="panel-group container about_rent animated fadeIn" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel about_rent">
    <div class="panel-heading about_rent">
       What is RENT<i class="fa fa-home"></i>WORKS
    </div>
    <div class="panel-body abouts">
      <li>
        <p>Looking for a Home? .OR..... Have a Home TO rent?</p>
      </li>
      <li>
        <p>RentWorks is a rental listing website that connect tenants and landlords</p>
      </li>
      <li>
        <p>
          The rental listings showcases a vast array of rental accomodations from
          web resources such as Kijiji and Craigslist
       </p>
      </li>
      <li>
        <p>Users will be able to both list and search for the perfect listings.</p>
      </li>
  </div>
    <div class="panel-heading about_rent" role="tab" id="headingOne">
      <h4 class="panel-title about_rent">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Features
       </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body about_rent">
        <ul>
          <li>
          The site features basic CREATE, RETREIVE, UPDATE, DELETE (CRUD) functionalitiy with Comment feature.
          </li>
          <li>GeoMapping                                        </li>
          <li>Search Function                                   </li>
          <li>Scraping data from CraigsList and Kijiji          </li>
          <li>Connects Twitter                                  </li>
          <li>Mailer                                            </li>
          <li>Delay Job                                         </li>
        </ul>
      </div>
    </div>
    <div class="panel-heading about_rent" role="tab" id="headingTwo">
      <h4 class="panel-title about_rent">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        Techniques/Formats/Languages
       </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse about_rent" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body about_rent">
        <ul>
          <li>AJAX              </li>
          <li>Ruby on Rails     </li>
          <li>JSON              </li>
          <li>HTML              </li>
          <li>JQUERY            </li>
          <li>Javascript        </li>
          <li>CSS               </li>
          <li>Bootstrap         </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
