<div class="container">
  <div class="panel">
    <div class="panel-heading">
        ABOUT
    </div>
    <div class="panel-body">
      <div class="container info" >
        <div class="img-circle" id="teampic">
        </div>

      <p><i>

      " G'day. I’m David Lin, a web developer and a recent graduate from CODECORE.

      I am loving developing (so far) and this is my project. I will be looking
      for a job opportunity so feel free to contact me to say hello, OR You can
       get in touch by email or you could stalk me through social media. "</i><p>

      </div>
      <p>Looking for a Home? .OR..... Have a Home TO rent?</p>
      <p>RentWork is a rental listing website platform to connect Tenants and Landlords.
      The rental listings showcases a vast array of rental accomodations from
      web resources such as Kijiji and Craigslist. </p>
      <p>Users will be able to both list and search for the perfect listings.</p>

      <h2>Features</h2>

      <br>


    </div>

    </div>
</div>
