<div class="container animated fadeIn">
  <div class="panel abouts">
    <div class="panel-heading abouts">
        ABOUT
    </div>
    <div class="panel-body abouts">

        <div class="image-circle">
        </div>

      <div class="container info" >
        <p>" G'day. I’m David Lin, a web developer and a recent graduate from CODECORE.
        I am loving developing (so far) and this is my project. I will be looking
        for a job opportunity so feel free to contact me to say hello, OR You can
         get in touch by email or you could stalk me through social media. "</p>

        <p>Looking for a Home? .OR..... Have a Home TO rent?</p>
        <p>RentWork is a rental listing website platform to connect Tenants and Landlords.
        The rental listings showcases a vast array of rental accomodations from
        web resources such as Kijiji and Craigslist. </p>
        <p>Users will be able to both list and search for the perfect listings.</p>
      </div>

<div class="container">
    <h2>Features</h2>
      <ul>
        <li>
        The site features basic CREATE, RETREIVE, UPDATE, DELETE (CRUD) functionalitiy with Comment feature.
        </li>
        <li>GeoMapping                                        </li>
        <li>Search Button                                     </li>
        <li>Scraping of websources via the Feedjira gem       </li>
        <li>Automatic Twitter feed when an item gets posted   </li>
        <li>Mailer                                            </li>
        <li>Delay Job                                         </li>
      </ul>
      <h2>Techniques/Formats/Languages</h2>
      <ul>
        <li>AJAX              </li>
        <li>Ruby on Rails     </li>
        <li>JSON              </li>
        <li>HTML              </li>
        <li>JQUERY            </li>
        <li>Javascript        </li>
        <li>CSS               </li>
        <li>Bootstrap         </li>
      </ul>
    </div>
  </div>
</div>
</div>
