// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//edit
.check_boxes {

}


.panel.edit .btn {
  // height :600px;
 margin-top: 10px;
}

.panel-heading.list_display {
  background-color: #FFE168 !important;
}

.panel-body.list_display h3 a {
   color: #A0596B;
   text-decoration: none;
   background-color: transparent;
}

.panel-body.list_display h3 a:hover {
   color: #4CC3D9;
}


#featureListing {
  padding-left: 40px;
  color: #FF6866;
}
