// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#showImage {
  margin-top: 0%;
  width: 100%;
  height: 400px;
}

#featureListing {
  padding-left: 40px;
  color: #FF6866;
}
