// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//// THE DEFAULT IMAGE
#nopic {
  font-size: 200px;
  color: #55ACEE;
}

////NAV BAR

#brand {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  padding-left: 15px;
}

.navbar-default {
  height: 100px;
  font-family: 'Raleway', sans-serif;
  background-color: #459FDD;
}

.navbar-brand p {
  color:white;
}

.nav.navbar-nav.navbar-right {
  color:white;
}
// top right nav bar

#sign_in a {
  color:#FF7260;
  font-size: 20px;
}

#sign_in a:hover {
  color:white;
}

#sign_in_name {
  padding-top: 25px;
  font-size:20px;
}

#sign_in_name a {
  color: #EB77A6;
}

#sign_in_name a:hover {
  color: white;
  background-color: transparent;
}


p {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

//ROW 2 nav bar

#navbar2 ul li a {
  color: white;
  font-size:20px;
  font-family: 'Raleway', sans-serif;
}

#navbar2 ul li a:hover {
  color: #93648D ;
}

#searchbar {
  padding-top: 10px;
  padding-right: 15px;
  color: black;
}

////WELCOME PAGE
//
#homepage {
  background-image: url(homebg.jpg);
  margin: 0;
  padding: 0;
  text-align: center;
}

#welcome_button {
  background-color: #FF7260;
  border: none;
  border-radius: 0;
}

#welcome_div {
  position:relative;
    top: 250px;
}

.jumbotron {
  background-color: #459FDD;
  opacity: 0.8;
  font-family: 'Raleway', sans-serif;
  color:white;
}
